<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bienvenido al Acordeon Distribuido</h1>

  <h2>
    Esta es la página principal del Acordeon Digital de temas sobre
    la asignatura de Sistemas Distribuidos
  </h2>

  
</div>
